<h6>{margin-left: 25cm;
    text-align: left;
    }
nav{
    margin-left: 18cm;
}
div{
    background-color: grey;
    text-align: center;
}
footer{
    background-color: grey;
    text-align: center;
}
img{
    margin-left: 15cm;
   }
h5{
    margin-left: 13cm;
}
p.logo{
  height: 240px;
  width: 100px;
  margin-left: 8cm;
  size: 1000px;
}

tr{
color:white;
}
ul#menu {
padding: 0;
}

ul#menu li {
display: inline;
}

ul#menu li a {
background-color:rgb(0, 0, 0);

padding: 10px 20px;
text-decoration: none;

}

ul#menu li a:hover {
background-color:rgb(105, 134, 71);
}

a{
color:rgb(255, 254, 254);
}
aside{
margin-left: 20cm;
margin-bottom: 200cm; 
}
iframe{
    margin-left: 15cm;
}